{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 class="display-1">Pets</h1>
        {% if pets %}
        <section class="section-pets">
            {% for pet in pets %}
            <div class="pet">
                {% if pet.photo_url %}
                    <img src="{{pet.photo_url}}" />
                {% endif %}
                <p>{{pet.name}} <strong>is available!</strong></p>
            </div>
            {% endfor %}
        </section>
        <a href="/add" class="btn btn-info btn-lg">Add Pet</a>
        {% endif %}
{% endblock %}
